<h2> Pokemon Team </h2>
@for (pokemon of pokemonList(); track pokemon.pokedexNumber) {
  <app-pokemon-list-item
    [pokemon]="pokemon"
    (pokemonOpened)="onPokemonOpened($event)" />
} @empty {
  <p>No Pokemon to show.</p>
}

<h3>Pokemon with mega evolution: </h3>
@for (pokemon of megaPokemon(); track pokemon.pokedexNumber) {

  <p>{{pokemon.name}}</p>

} @empty {
  <p>No Pokemon with mega evolution</p>
}

<h3>MegaPokemon Count</h3>
<p>Total pokemon with mega evolution {{megaPokemonCount()}}</p>
