<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>My first Angular app</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="container">
  @for (pokemon of pokemonTeam; track pokemon.pokedexNumber) {
    <div class="pokemon-card">
      <h3>{{pokemon.name}}</h3>
      <p>Pokedex Number: {{pokemon.pokedexNumber}}</p>
      <p>Type: {{pokemon.type}}</p>
      <p>Generation: {{pokemon.generation}}</p>
      @if (pokemon.megaEvolution) {
        <p>Mega evolution: Yes</p>
      }
    </div>
  } @empty {
    <p>There are no pokemons on the list</p>
  }

</div>


</body>
</html>
